* {
    overflow: hidden;
}

/******************************\
|* modified bootstrap classes *|
\******************************/

.row {
    margin: 0 !important;
}

.col {
    padding: 0 !important;
    background: white;
}

.border {
    border-color: #343a40 !important;
}



/********************\
|** Custom classes **|
\********************/

.fullScreen {
    height: 100vh;
    width: 100vw;
}

.mainContainer {
    align-items: center;
    justify-content: flex-start;
    background: teal;
    perspective: 100vh;
    perspective-origin: 65vh;
}

#ludoBoard {
    margin: 5vh !important;
    height: 90vh;
    width: 90vh;
    transform-style: preserve-3d;
    /* transition: transform 5s cubic-bezier(0, 0.75, 0.25, 1); */
    box-shadow: 0 1px 0 0 #000;
}

.rowEndings {
    height: 36vh;
}

.rowMid {
    height: 18vh;
}

.rowEndings > div:nth-child(2),
.rowMid > div:nth-child(2) {
    width: 18vh;
}

#ludoBoard > div {
    width: 90vh;
}

#ludoBoard > .row .row {
    height: 6vh;
}

.rowMid > div:nth-child(2) div {
    border-top-color: #28a745;
    border-left-color: #dc3545;
    border-bottom-color: #007bff;
    border-right-color: #ffc107;
}

.outBox {
    width: 75%;
    height: 75%;
    background: rgb(241, 241, 238);
}

#ludoBoard .outBox > .row {
    height: 50% !important;
}

.victoryBox {
    border-width: 8.75vh;
    border-style: solid;
}

.diagonal {
    border-width: 0px !important;
    border-top-width: 0.25vh !important;
    position: absolute;
    width: 36vh;
}

.diagonal:last-child {
    transform: rotateZ(45deg);
    transform-origin: left;
}

.diagonal:not(:last-child) {
    transform: rotateZ(-45deg);
    right: 0;
    transform-origin: right;
}

.token_home {
    height: 100%;
}

.token_home > div {
    height: 75%;
    width: 75%;
}

.token {
    width: 5vh;
    height: 5vh;
    border-width: 2px !important;
}

.token_green {
    background: #066b1e;
}

.token_red {
    background: #a51423;
}

.token_blue {
    background: #093e77;
}

.token_yellow {
    background: #ffc107;
}

#ludoBoard > div svg {
    width: 5vh;
    fill: #fff;
    height: 5vh;
}








/********************\
|***** Animations ***|
\********************/

@keyframes rotate {
    0% {
        transform: rotateX(45deg) translateX(100px) translateY(-100px);
    }
    25% {
        transform: rotateZ(-90deg) rotateY(45deg) translateX(100px) translateY(100px);
    }
    50% {
        transform: rotateZ(-180deg) rotateX(-45deg) translateX(-100px) translateY(100px);
    }
    75% {
        transform: rotateZ(-270deg) rotateY(-45deg) translateX(-100px) translateY(-100px);
    }
    100% {
        transform: rotateX(45deg) translateX(100px) translateY(-100px);
    }
}











/***************************\
|****** Media Queries ******|
\***************************/

@media (min-width: 1024px) {
    #ludoBoard {
        animation: rotate 6s cubic-bezier(0, 0.75, 0.75, 1) 0s infinite normal both;
    }

    /* #ludoBoard:hover {
        transform: rotateX(45deg) translateX(100px) translateY(-100px);
    } */
}

@media (orientation: portrait) {
    .mainContainer {
        align-items: flex-start;
        justify-content: center;
        perspective: 100vw;
        perspective-origin: 65vw;
    }

    #ludoBoard {
        margin: 10vw 5vw 0 !important;
        height: 90vw;
        width: 90vw;
    }

    #ludoBoard:hover {
        transform: none;
    }

    .rowEndings {
        height: 36vw;
    }

    .rowMid {
        height: 18vw;
    }

    .rowEndings > div:nth-child(2),
    .rowMid > div:nth-child(2) {
        width: 18vw;
    }

    #ludoBoard > div {
        width: 90vw;
    }

    #ludoBoard > .row .row {
        height: 6vw;
    }

    .victoryBox {
        border-width: 8.75vw;
    }

    .diagonal {
        border-top-width: 0.25vw !important;
        width: 36vw;
    }

    .token {
        width: 5vw;
        height: 5vw;
    }

    #ludoBoard > div svg {
        width: 5vw;
        height: 5vw;
    }    
}
